.menu{
    top:0;
    display:flex;
    height: 60px;
    background-color:#ffffff;
    width:100%;
    align-items:center;
    justify-content: space-between;
    box-shadow:5px 10px 12px #dfdfdf;
    position:fixed;
    z-index:9000;
}
.menu h5{
    margin-left:10px;
    font-size:20px;
    color:#6C63FF;
}
.menuElements ul{
    display:flex;
    align-self:center;
}
.menuElements ul li{
    list-style: none;
    flex-direction:row;
    margin-left:25px;
}
.menuElements ul li:hover{
    color:#6C63FF;
}
.menu p {
    margin-right:20px;
}