.container {
    height: 100vh;
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.createaccount {
    flex:1;
}
.createaccount img {
    width:28rem;
    height:28rem;
}
.formdata{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    background-color: #1c1a1d;
    width: fit-content;
    height: fit-content;
    padding:0.5rem;
    flex:1;
}
/* Estilizar input file  */
.upload {
    color:white !important;
    background:#ffa502 ;
    padding: 0.2rem !important;
    border-radius:160px;
    outline:none;
    font-size: 10pt !important;
}

/* Fim da estilizacao do input file */
.formdata h2{
    color:#ffa502;
    text-align: center;
    font-size: 14pt;
}
.imageContainer{
    border:2px solid #ffa502;
    width:4rem;
    height:4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100%;
}
.myForm {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.myForm input{
    margin-top:10px;
    width:20rem;
    padding:10px;
    height:1.5rem;
    border-radius:4px;
    font-size:12pt;
    background-color:rgb(28, 28, 28);
    color:white;
    border:0.5px solid #1c1200;
}
/* .input input[type='file']{
    color:white !important;
    background:#ffa502;
    border-radius:160px;
    outline:none;
    width:1.5rem;
} */
.myForm input[type='textarea']{
    height:60px;
    width:20rem;
}
.myForm select{
    height:40px;
    width:100px;
    align-self:flex-start;
}
.select select{
    width:500px;
    height:40px;
    border: 1.5px solid #e6e6e6;
}
.myForm button {
    margin-top:10px;
    width:20rem;
    height: 2rem;
    border: 1.5px solid #e6e6e6;
    border-radius:4px;
    background-color:#ffffff;
    color:rgb(28, 28, 28);
    font-weight:bold;
    font-size:12pt;
    cursor: pointer;
}
.myForm button:hover {
    background-color:rgba(255, 166, 2, 0.727);
}
.myform textarea{
    width:20rem;
    height:30px;
    resize:none;
}
.myform button:hover{
    box-shadow:5px 8px rgb(44, 44, 44);
    color:rgb(51, 51, 51);
}