.container {
    display:flex;
    margin: 100px 30px 30px 30px;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding:4px;
}
.createaccount {
    flex:1;
}
.createaccount img {
    width:600px;
    height:600px;
}
.formdata{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    background-color: #1c1a1d;
    width:700px;
    height:auto;
    padding:30px;
    flex:1;
}
/* Estilizar input file  */
.upload {
    color:white !important;
    background:#ffa502;
    padding:10px;
    border-radius:160px;
    outline:none;
    width:100px;
}

/* Fim da estilizacao do input file */
.formdata h2{
    color:#ffa502;
    text-align: center;
}
.imageContainer{
    border:2px solid #ffa502;
    width:100px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100%;
}
.myForm {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.myForm input{
    margin-top:10px;
    width:500px;
    padding:10px;
    height:40px;
    border: 1.5px solid #e6e6e6;
    border-radius:4px;
    font-size:18px;
    background-color:rgb(28, 28, 28);
    color:white;
    border:0.5px solid #1c1200;
}
.input input[type='file']{
    color:white !important;
    background:#ffa502;
    padding:10px;
    border-radius:160px;
    outline:none;
    width:100px;
}
.myForm input[type='textarea']{
    height:80px;
    width:500px;
}
.myForm select{
    height:40px;
    width:100px;
    align-self:flex-start;
}
.select select{
    width:500px;
    height:40px;
    border: 1.5px solid #e6e6e6;
}
.myForm button {
    margin-top:10px;
    width:500px;
    padding:10px;
    height:40px;
    border: 1.5px solid #e6e6e6;
    border-radius:4px;
    background-color:#ffffff;
    color:rgb(28, 28, 28);
    font-weight:bold;
    font-size:20px;
    cursor: pointer;
}
.myform textarea{
    width:500px;
    height:30px;
    resize:none;
}
.myform button:hover{
    box-shadow:5px 8px rgb(44, 44, 44);
    color:rgb(51, 51, 51);
}