.input{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
    margin-top:100px;
}
.input h1 {
    color:#6C63FF;
}
.input h1 span{
    text-decoration:underline;
    cursor:cell;
}
.input{
    display:flex;
    flex-direction:column;
    /* margin-top:10px; */
}
.input input {
    margin-top:6px;
    width:500px;
    padding:10px;
    height:60px;
    border: 1.5px solid #e6e6e6;
    border-radius:4px;
    font-size:18px;
}
.input a {
    margin-top:4px;
    width:500px;
    padding:10px;
    height:60px;
    border: 1.5px solid #e6e6e6;
    border-radius:4px;
    background-color:#6C63FF;
    color:white;
    font-weight:bold;
    font-size:20px;
    text-align:center;
}