.general{
    height: 100vh;
    /* margin-top:70px; */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:20px;
}
.general img {
    width: 8rem;
    height: 8rem;
}
.input {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
    background-color: rgba(240, 240, 240, 0.903);
    padding: 1.2rem;
    height:auto;
    width:30rem;
    border-radius:8px;
    
}
.input h3 {
    color:#ffa502;
}
.input h3 span{
    text-decoration:underline;
    cursor:cell;
}
.input input {
    margin-top:6px;
    padding:10px;
    width:400px;
    font-size: 14pt;
}
.input button {
    margin-top:6px;
    padding:10px;
    width:400px;
    height:40px;
    border: 1.5px solid #e6e6e6;
    border-radius:1px;
    background-color:#151515;
    color:white;
    font-weight:bold;
    font-size:14px;
    text-align:center;
}
.input button:hover{
    background-color: #e99802;
    cursor:hand;
}
.withoutAccount  {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.withoutAccount a{
     text-decoration: underline;
}

.withoutAccount a:hover{
    text-decoration: none;
    color: rgb(89, 57, 9);
}

