.container{
      display:flex;
      align-items:center;
      flex-direction:column;
      margin-top:130px;
}
.title {
      font-size:18pt;
      color:rgb(0, 102, 235);
}
.container > input{
      width:400px;
      padding:8px;
      font-size:14pt;
      margin-top:6px;
}
.button{
      margin-top:12px;
      display:flex;
      margin-left:-300px;
}
.button > button {
      width:100px;
      padding:6px;
      background-color:rgb(16, 16, 16);
      border-radius:4px;
      color:white;
      font-size:14pt;
      border:none;
}
.button > button:hover{
      background-color:rgb(0, 102, 235);
      transition:0.1s ease-in-out;
}