.container  {
    width:100%;
    margin-top:100px;
    display:flex;
    flex-direction:row;
}
.chart{
    width:50%;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-left:10px;
    height:auto;
}
.input{
    width:300px;
    height:40px;
    font-size:16px;
    border:2px solid rgb(204, 204, 204);
    border-radius:3px;
}
.pdf{
    margin-left:4px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.appSection > h4{
    color:rgb(19, 26, 46);
}
.app {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
}
.app > p {
    font-size:16px;
    font-weight:bold;
    color:rgb(39, 98, 247);
    margin-right:10px;
}
.description{
    width:500px;
}
.app button {
    height:35px;
    color:white;
    font-size:18px;
    border:none;
    margin-right:8px;
    border-radius:4px;
}
.remover{
    background-color:rgb(255, 116, 116);
}
.verdados{
    background-color:rgb(14, 186, 157);
}
.remover:hover{
    background-color:rgb(221, 98, 98);
}
.verdados:hover{
    background-color:rgb(10, 121, 102);
}
.details{
    display:flex;
    flex-direction:column;
}
.title {
    font-size:16px;
    font-weight:bold;
    color:rgb(39, 98, 247);
    margin-right:10px;
}
.username{
    font: size 18px;
    color:rgb(56, 56, 56);
    margin-right:10px;
}
.userdata{
    display:flex;
    align-items:center;
}
.downloadpdf{
    color:white;
    height:35px;
    width:100px;
    border:none;
    border-radius:3px;
    font-size:14px;
    background-color:rgb(209, 96, 84);
}
.downloadpdf:hover{
    background-color:rgb(242, 126, 113);
}