.container{
      display:flex;
      align-items:center;
      flex-direction:column;
      border: 2px solid rgb(230, 230, 230);
      border-radius:6px;
      width:350px;
      height:380px;
      padding:6px;
      margin: 4px 10px;
}
.container > img{
      width:150px;
      height:150px;
      border-radius: 4px;
}
.container p > span {
      width:140px;
      margin-top:60px;
      background-color:rgb(22, 22, 22);
      padding:10px;
      border-radius:2px;
      color:white;
}
.container p > :hover{
      background-color:rgb(0, 102, 235);
}
.name{
      font-size:22px;
      color:black;
}
.description{
      font-size:16px; 
      color:rgb(138, 138, 138);
      margin-top:-10px;
}
.star{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;

}
.star > span {
      font-size:24px;
}
.star span:hover{
      color:rgb(0, 102, 235);
}
.star > p {
      margin-left:14px;
}