.container{
      height: 100vh;
      width: 100%;
      display:grid;
      grid-template-columns: 18% 82%;
      margin-top: 65px;
      z-index: 2;
}
.category{
      display:flex;
      align-items:center;
      justify-content:center;
      flex-direction:row;
      flex-wrap:wrap;
      width:70%;
}
.categoryP{
      font-size:18pt;
}
.category button {
      background-color:white;
      border:2.5px solid rgb(103, 165, 245);
      width:120px;
      height:35px;
      font-size:18px;
      color:rgb(103, 165, 245);
      border-radius:50px;
      text-align: center;
      margin-left:5px;
}
.category button:hover{
     border-color: rgb(0, 102, 235);
     transition:0.1s ease-in-out;
     color:black;
     cursor:pointer;
}
.seemore{
      color:rgb(0, 102, 235);
      font-size:12pt;
}
.seemore:hover {
      text-decoration:underline;
      cursor:pointer;
}
.listingapps{
      margin-top:35px;
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items:flex-start;
      justify-content:flex-start;
      align-self:flex-start;
}