
.contanier {
    /* margin-top:200px; */
    display:flex;
    
}
.container h2 {
    font-size:55px;
}
.container span {
    color:#ffa502;
}
.container h1{
    width:450px;
    font-size:40px;
}
.container p {
    color:#adadad;
    font-size:22px;
}
.header{
    padding:26px;
    margin-top:20px;
    display:flex;
    align-items:center;
    flex-direction:row;
    background-color:rgb(255, 255, 255);
}
.info{
    display:flex;
    flex-direction:column;
}
.acountdetails{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;
}
.acountdetails > a  {
    color:#ffa502;
    border:1px solid #dddddd;
    padding:14px;
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:4px;
    margin-top:20px;
}
.acountdetails > a {
    margin-right:20px;
}
.acountdetails > a:hover{
    background-color:white;
    color:#ffa502;
}

.imagetop{
    margin-top:90px;
    width:729px;
    height:426px;
}
.acionista{
    display:flex;
    height:700px;
    align-items:center;
    flex-direction:row;
    justify-content:space-around;
    margin-top:60px;
    padding:20px;
    background-color: #1c1a1d;
}
.content {
    display:flex;
    flex-direction:column;
}
.content p {
    width:450px;
    text-align:center;
    color:#ffa502;
}
.content h1{
    text-align:center;
    color:white;
}
.people{
    display:flex;
    height:700px;
    align-items:center;
    flex-direction:row;
    justify-content:space-around;
    margin-top:60px;
    padding:20px;
}
.peopleContent {
    display:flex;
    flex-direction:column;
}
.peopleContent p {
    width:450px;
    text-align:center;
    color:#ffa502;
}
.peopleContent h1{
    text-align:center;
}

.moreDetails{
    background-color: #1c1a1d;
    margin-top:70px;
    padding:20px;
    margin-bottom:70px;
    height:700px auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.moreDetails h1{
    text-align:center;
    color:white;
}
.detailsInfo{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.iconwithtext{
    width:300px;
    height:300px;
    margin:20px;
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:1px solid #dddddd;
}
.iconwithtext p{
    text-align: center;
    color:white;
    font-size:20px;

}
.iconwithtext span {
    font-size:32px;
}
.iconwithtext:hover{
    border-color:#ffa502;
    border-radius:2px;
}
.footer{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    height:50px;
    width:100%;
    box-shadow: 8px 2px 10px #4b4b4b;
}