.container{
    margin-top:80px;
    display:flex;
    flex-direction:column;
    flex:1;
    height:auto;
    /* position:fixed; */
}   
.profile{
    margin-left:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-bottom:18px;
}
.profile button{
    width:80px;
    height:30px;
    border-radius:160px;
    border:none;
    background-color:black;
    color:white;
}

.newApp h3{
     color: #6C63FF;
     font-size: 12pt;
     
}

.newApp button {
    width:120px;
    height:30px;
    border-radius:4px;
    border: 1px solid #ccc;
    font-size:16px;
    color: #000;
    background-color:#ccc;
    display: inline;
    margin-right: 30px;
}

.newApp button:hover  {
    color: #ccc;
    background-color:#6C63FF;
    transition: 0.6s ease-in;
   
}
.profile button:hover{
    background-color:#6C63FF;
    color:white;
    transition: 0.6s ease-in-out;
}
.newApp{
     display: flex;
    flex-direction:column;
    align-content: flex-end;
    align-items: flex-end;
    margin-right: 5px;

}

.borderImage{
    display:flex;
    align-items:center;
    justify-content:center;
    border: 0.8 #dbdbdb solid;
    border-radius:160px;
    width:80px;
    height:80px;
}
.profile > img{
    width:60px;
    height:60px;
    border-radius:160px;
}
.appSection{
    display:flex;
    margin-left:20px;
    flex-direction:column;
}
.appSection input {
    width:200px;
    height:18px;
    border-radius:160px;
    border: 0.8px solid #646464;
    padding: 10px;
    text-align: center;
    outline:none;
    
}
.appSection p > span {
    font-weight:bold;
    font-size:20px;
    justify-content:flex-start;
    color:#6C63FF;
}
.appSolicitar{
    display:flex;
    flex-direction:row;
    padding:2px;
    justify-content:center;
    align-items:center;
}
.appSolicitar button{
    margin-left:8px;
    margin-top:-26px;
    height:30px;
    width:80px;
    color:white;
    background-color:#6C63FF;
    border-radius:100px;
    border:none;
}
.appSolicitar button:hover{
    font-size:20px;
    transition:1s ease-in;
}
.solicitation{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.solicitationsButton{
    margin-left:20px;
    margin-bottom:28px;
}
.btnBusiness{
    margin-left:4px;
    width:70px;
    height:28px;
    border-radius:80px;
    border:none;
    background-color:rgb(26, 26, 26);
    color:white;
}
.btnBusiness > button:hover{
    box-shadow: 5px 2px 12px rgb(53, 53, 53);
    font-weight: bold;
}
.aceitar {
    background-color:rgb(93, 224, 93);
    color:white;
    border-radius:80px;
    border:none;
    width:70px;
    height:28px;
}
