.container{
    margin-top:60px;
    display:flex;
    flex-direction:column;
    display:flex;
}   
.profile{
    display:flex;
    height:210px;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-bottom:22px;
    background-color:rgb(228, 228, 228);
}
.img{
    margin-top:20px;
    width:100px; 
    height:100px;
    border-radius:160px;
    border:4px solid rgb(0, 102, 235);
    border-radius:200px;
}
.username{
    font-size:18px;
    font-weight:normal;
    color:rgb(10, 10, 10);
}
.username:hover{
    text-decoration:underline;
}
.fullName{
    margin-top:-24px;
    margin-top:4px;
    font-size:28px;
    color:rgb(0, 102, 235);
}
.tofollow{
    margin-top:-40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
}
.tofollow > span {
    margin-left:12px;
}
.seguindo:hover{
    text-decoration: underline; 
}
.notfollowing:hover{
    text-decoration: underline; 
}
.descritpion {
    font-size:24px;
    text-align:center;
}
.notfollowing{
    font-size:16px;
    color:rgb(255, 255, 255);
    width:65px;
    border-radius:90px;
    padding:3px;
    text-align: center;
    background-color:rgb(0, 102, 235);
}
.seguindo {
    color:rgb(9, 9, 9);
    font-size:16px;
    width:65px;
    border-radius:90px;
    padding:3px;
    text-align: center;
    background-color:rgb(228, 228, 228);
}
.appSection{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.appSection > h4 {
    color:rgb(0, 102, 235);
}
.myapps{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}






