.container{
      margin-top: 100px;
}
.searchContainer{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
 }
 .buscar{
      margin-left:10px;
      width:100px;
      height:40px;
      border:none !important;
      font-size:12pt;
      background-color:rgb(17, 17, 17);
      color:white;
      border-radius:2px;
 }
 .buscar:hover{
      background-color:rgb(0, 102, 235);
      transition: 0.1s ease-in-out;
     
 }
 .search{
      width:380px;
      height:40px;
      border: 1px solid rgb(213, 213, 213);
      font-size:12pt;
      padding:10px;
 }