.searchContainer{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
   
}
.search{
    width: 350px;
    height:30px;
    border-radius:150px;
    border-color:rgb(240, 240, 240);
    padding:2px;
}
.button{
    color:white;
    background-color:black;
    border-radius:3px;
    margin-left:10px;
    height:30px;
    border-radius:150px;
}